*{
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html body{
  height: 100%;
  margin: 0;
  overflow-x: hidden; /* Optional: to disable horizontal scrolling */
  overflow-y: auto; /* Ensures vertical scrolling */
}

/* Bootstrap tweaks */
.card:hover {
  cursor: pointer;
  box-shadow: 0 0 0.2rem gray;
}
